#main-wrapper {
  border: 1px black solid;
  width: 100%;
  height: 100vh;
}

.account-setup-section {
  margin-top: 8rem;
}

@media only screen and (max-width: 320px) {
  #main-wrapper {
    height: 100%;
  }

  .account-setup-title h1 {
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.8;
    letter-spacing: 2px;
    text-align: center;
  }

  .account-setup-title p {
    text-align: center;
  }

  .profile-setup-submit {
    text-align: center;
  }

  .profile-setup-submit button {
    width: inherit;
  }
}

.profile-setup-input-tags span {
  font-size: inherit;
  margin-left: 5px;
}

.business-upload-container {
  padding: 0;
}

.business-profile-upload-container {
  padding: 0.5rem 0;
  margin: 0;
  margin-top: 0;
}

.business-profile-upload-container i {
  font-size: 20px;
  margin-bottom: 10px;
}

.business-profile-upload-container p {
  font-size: 10px;
}

.document-upload-preview div {
  padding: 0px;
  width: 80px;
  height: 70px;
  margin-left: 0px;
}

.document-upload-preview span {
  height: inherit;
}

.complete-business-profile-setup {
  font-size: x-small;
}
