/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

/*-- Common Style --*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.site-wrapper {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-size: 15px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: #666666;
  position: relative;
}

body[data-rtl="rtl"] {
  direction: rtl;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 479px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 479px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #004395;
}

button,
input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.section,
.main-wrapper {
  float: left;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 450px;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    max-width: 300px;
  }
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.mbYTP_wrapper {
  z-index: -9 !important;
}

/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*--
    - Background Color
------------------------------------------*/
.bg-white {
  background-color: #ffffff !important;
}

.bg-gray {
  background-color: #f8f8f8 !important;
}

.bg-dark {
  background-color: #222222 !important;
}

.bg-theme {
  background-color: #004395 !important;
}

/*-- 
    - Tab Content & Pane Fix
------------------------------------------*/
.tab-content {
  width: 100%;
}

.tab-content .tab-pane {
  display: block;
  height: 0;
  max-width: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.tab-content .tab-pane.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}

/*-- 
    - Main Wrapper
------------------------------------------*/
/*-- 
    - Section Title
------------------------------------------*/
.section-title {
  /* background-image: url(../images/others/title-bg.png); */
  background-repeat: no-repeat;
}

.section-title h1 {
  font-weight: 600;
  margin: 0;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 24px 0;
}

@media only screen and (max-width: 479px) {
  .section-title h1 {
    font-size: 24px;
  }
}

.section-title.center {
  text-align: center;
  background-position: center center;
}

.section-title.left {
  text-align: left;
  background-position: left center;
}

.section-title.right {
  text-align: right;
  background-position: right center;
}

/*-- 
    - Page Banner
------------------------------------------*/
.page-banner-section {
  /* background-image: url(../images/bg/download-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 100px 0;
  margin-top: 91px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-banner-section {
    margin-top: 81px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner-section {
    margin-top: 81px;
  }
}

.page-banner-section::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000000;
  opacity: 0.55;
  z-index: -1;
}

/*Page Banner Title*/
.page-banner-title {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 10px;
}

/*Page Breadcrumb*/
.page-breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-breadcrumb li {
  color: #ffffff;
  font-size: 15px;
  line-height: 1;
}

@media only screen and (max-width: 575px) {
  .page-breadcrumb li {
    font-size: 14px;
  }
}

.page-breadcrumb li::after {
  content: "-";
  margin: 0 6px;
}

.page-breadcrumb li:last-child::after {
  display: none;
}

.page-breadcrumb li a:hover {
  color: #f9c322;
}

.page-breadcrumb li.active {
  color: #f9c322;
}

/*-- 
    - Page Pagination
------------------------------------------*/
.page-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -5px -10px;
}

.page-pagination li {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  text-align: center;
  margin: 5px 10px;
}

.page-pagination li a {
  color: #222222;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 50px;
  width: 44px;
  height: 44px;
}

.page-pagination li a i {
  line-height: 24px;
}

.page-pagination li:hover a {
  color: #004395;
  background-color: #f9c322;
}

.page-pagination li.active a {
  color: #ffffff;
  background-color: #004395;
}

.page-pagination li:first-child a {
  color: #222222;
  width: auto;
  padding: 10px 20px;
}

.page-pagination li:first-child a i {
  margin-right: 10px;
  float: left;
}

.page-pagination li:first-child a:hover {
  color: #004395;
}

.page-pagination li:last-child a {
  color: #222222;
  width: auto;
  padding: 10px 20px;
}

.page-pagination li:last-child a i {
  margin-left: 10px;
  float: right;
}

.page-pagination li:last-child a:hover {
  color: #004395;
}

/*-- 
    - Button
------------------------------------------*/
.btn {
  padding: 10px 40px;
  background-color: #004395;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 30px;
  border: none;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #f9c322;
  color: #004395;
}

/*-- 
    - Scroll Up
------------------------------------------*/
#scrollUp {
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  background-color: #004395;
  color: #ffffff;
  text-align: center;
}

#scrollUp:hover {
  background-color: #f9c322;
  color: #004395;
}

#scrollUp i {
  display: block;
  line-height: 44px;
  font-size: 24px;
}

/*-- 
    - Form
------------------------------------------*/
form h3,
form h4,
form h5,
form h6 {
  margin-bottom: 20px;
  font-weight: 500;
}

form a {
  text-decoration: underline;
}

form a:hover {
  text-decoration: underline;
}

form label {
  line-height: 18px;
  display: block;
  margin-bottom: 10px;
}

form label i {
  margin-right: 10px;
  color: #004395;
}

form label span {
  font-size: 12px;
}

form input {
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: transparent;
  line-height: 30px;
  padding: 9px 20px;
  color: #666666;
  font-size: 15px;
  border-radius: 0;
  margin-bottom: 10px;
  height: auto;
}

form input[type="checkbox"],
form input[type="radio"] {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

form textarea {
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: transparent;
  line-height: 30px;
  padding: 9px 20px;
  color: #666666;
  font-size: 15px;
  border-radius: 0;
  height: 120px;
}

form .nice-select {
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  height: auto;
}

form .nice-select::after {
  height: 7px;
  width: 7px;
  right: 20px;
}

form .nice-select .current {
  display: block;
  line-height: 30px;
  padding: 9px 20px;
  text-transform: capitalize;
  color: #666666;
  font-size: 15px;
}

form .nice-select .list {
  width: 100%;
  border-radius: 0;
  max-height: 224px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .nice-select .list li {
  padding: 4px 20px;
  border-bottom: 1px solid #eeeeee;
  min-height: 36px;
  line-height: 36px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin: 0;
}

form .nice-select .list li:last-child {
  border-bottom: none;
}

form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 50px;
  margin-bottom: 10px;
}

form ul li label {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  position: relative;
  padding-left: 25px;
  overflow: hidden;
}

form ul li label::before {
  position: absolute;
  left: 1px;
  top: 1px;
  font-family: Fontawesome;
  float: left;
  margin-right: 5px;
  font-size: 18px;
  line-height: 24px;
}

form .dropzone {
  border: none;
  margin: 0 -10px -10px;
  padding: 0;
}

form .dropzone .dz-default {
  margin: 0 10px 10px;
  border: 1px solid #eeeeee;
  padding: 50px;
}

form .dropzone .dz-default span i {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
}

form .dropzone.dz-started .dz-default {
  display: block;
}

form .dropzone .dz-preview {
  margin: 0;
  padding: 0 10px 10px;
}

form .dropzone .dz-preview .dz-image {
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*----------------------------------------*/
/*  20. Login & Register CSS
/*----------------------------------------*/
/*-- Login & Register Tab List --*/
.login-register-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.login-register-tab-list li {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  color: #aaaaaa;
  margin: 0 10px;
}

@media only screen and (max-width: 479px) {
  .login-register-tab-list li {
    font-size: 18px;
  }
}

.login-register-tab-list li a {
  display: block;
  font-weight: 600;
}

.login-register-tab-list li a.active {
  color: #004395;
}

/*-- My Account Tab List --*/
.myaccount-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eeeeee;
}

.myaccount-tab-list li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  border-bottom: 1px solid #eeeeee;
}

.myaccount-tab-list li:last-child {
  border-bottom: none;
}

.myaccount-tab-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  padding: 15px;
}

.myaccount-tab-list li a i {
  font-size: 24px;
  line-height: 1;
  width: 24px;
  text-align: center;
  margin-right: 10px;
}

.myaccount-tab-list li a.active {
  background-color: #004395;
  color: #ffffff;
}

.myaccount-tab-list li a.active:hover {
  background-color: #004395;
  color: #ffffff;
}

.myaccount-tab-list li a:hover {
  background-color: transparent;
  color: #004395;
}

.gallery a {
  display: block;
  position: relative;
  color: #ffffff;
  overflow: hidden;
}

.gallery a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #004395;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gallery a img {
  width: 100%;
}

.gallery a i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
  transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
  font-size: 50px;
  opacity: 0;
  z-index: 3;
}

.gallery:hover a::before {
  opacity: 0.75;
}

.gallery:hover a img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.gallery:hover a i {
  -webkit-transform: translateX(-50%) translateY(-50%) rotateY(0deg);
  transform: translateX(-50%) translateY(-50%) rotateY(0deg);
  opacity: 1;
}